/* make pages responsive */
/* set height and width of page(s) */
/* create a persistent header and use globally */
/* style index */
/* style about */
/* style portfolio */


/*---------- global styles ----------*/
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: purple solid 5px;
 }

 header {
  display: inline-block;
  height: 10em;
  width: 100%;
  background-color: rgb(231, 239, 169);
 }

 nav {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 4rem;
  
}

footer {
  width: 100%;
  background-color: aqua;
  text-align: center;
  border: rgb(88, 146, 1) 3px solid;
}


/*---------- index.html styles ----------*/
  .mainIndex {
  display: flex;
  flex-direction:column;
  height: 55rem;
  width: 100%;
  border: blue solid 3px;
  justify-content: space-around;

}

  .mainIndex ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70%;
  border: red 3px solid;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;

  }

  .indexImage {
  height: 12rem;
}

/*---------- about.html styles ----------*/
.mainAbout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50rem;
  
}

.mainAbout section {
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;
  height: 100%;
  min-width: 100%;
  border: rgb(0, 255, 162) solid 3px;
}

#about-section1 {
  justify-content:flex-start;
}

.mainAbout h5 {
  font-size: 2em;
  text-align: center;
  background-color: bisque;
}

.mainAbout section ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 16rem;
  border: red 2px solid;
}

.mainAbout section li {
  margin-left: 25px;
}

.mainAbout section p {
  margin: .5rem;
}




