/* make pages responsive */
/* set height and width of page(s) */
/* create a persistent header and use globally */
/* style index */
/* style about */
/* style portfolio */


/*---------- global styles ----------*/
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a:visited {
  color: rgb(244, 109, 12);
}

  a:hover {
    color: greenyellow;
}


body { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  
 }

 /* header is made persistent by the fixed position.  */
 header {
  position: fixed;
  height: 12em;
  width: 100%;
  background-image: url(img/header.jpg);
  background-size:cover;
  background-position: center;
  
}

 nav {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 4em;
  
}

main {
  margin-top: 12rem;
}

footer {
  width: 100%;
  background-color: rgb(255, 132, 0);
  text-align: center;
  font-size: 3em;
  border: rgb(88, 146, 1) 3px solid;

  position: relative;
  bottom: 0;
}


/*---------- index.html styles ----------*/
  .mainIndex {
  display: flex;
  flex-direction:column;
  height: 55rem;
  width: 100%;
  border: blue solid 3px;
  justify-content: space-around;

}

  .mainIndex ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70%;
  border: red 3px solid;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;

  }

  .indexImage {
  height: 12rem;
}

/*---------- about.html styles ----------*/
.mainAbout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 55rem;
  
}

.mainAbout section {
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;
  height: 100%;
  min-width: 100%;
  border: rgb(0, 255, 162) solid 3px;
}

  /* positions Short Bio h5 to top of the parent box */



#about-section1 {
  justify-content:flex-start;
}

.mainAbout h5 {
  font-size: 2em;
  text-align: center;
  background: linear-gradient(blue, orange)
}

.mainAbout section ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 16rem;
  border: red 2px solid;
}

.mainAbout section li {
  margin-left: 25px;
}

.mainAbout section p {
  margin: .5rem;
}

/*---------- portfolio.html styles ----------*/
  
  
.mainPort {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 55rem;
  width: 100%;
  
}

.mainPort section  {
  align-items: center;
  width: 50%;
  color: white;
}


.mainPort section:nth-of-type(1) {
  background: linear-gradient(orange, blue)
}
 
.mainPort section:nth-of-type(2) {
  background: linear-gradient(blue, orange)
}

.mainPort section ul {
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  list-style-type: none;
  font-size: 1.75em;
 
}


.imgPort {
  
  max-width: 50%;
  
  
}

@media (max-width: 1000px) {
  #portfolio h5 {
    background: linear-gradient(blue, orange)
  }

  .mainPort {
    flex-direction: column;
    height:fit-content;
    background-color: white;
    
  }

  .mainPort section {
    width: 100%;
  }

  

  .imgPort {
    width: 100%;
    max-width: none;
  }
}





